# FTPboxLib
FTPboxLib/bin
FTPboxLib/obj

# Windows
Windows/FTPbox/bin
Windows/FTPbox/obj
Windows/FTPbox_setup/Debug
Windows/FTPbox_setup/Release

# Resharper
FTPboxLib/_ReSharper.FTPboxLib
Windows/_ReSharper.FTPbox

# Ignore DecryptionInfo file
FTPboxLib/DecryptionInfo.cs