<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FTPbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FTPbox.Properties.Settings>
            <setting name="ftpUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="ftpPass" serializeAs="String">
                <value/>
            </setting>
            <setting name="ftpPort" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="ftpHost" serializeAs="String">
                <value/>
            </setting>
            <setting name="startup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="closetotray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shownots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rPath" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="lPath" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="delRem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="openinbrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ftpParent" serializeAs="String">
                <value/>
            </setting>
            <setting name="log" serializeAs="String">
                <value/>
            </setting>
            <setting name="rDateLog" serializeAs="String">
                <value/>
            </setting>
            <setting name="lDateLog" serializeAs="String">
                <value/>
            </setting>
            <setting name="rLog" serializeAs="String">
                <value/>
            </setting>
            <setting name="lLog" serializeAs="String">
                <value/>
            </setting>
            <setting name="nLog" serializeAs="String">
                <value/>
            </setting>
            <setting name="lan" serializeAs="String">
                <value/>
            </setting>
            <setting name="FTPorSFTP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="timedif" serializeAs="String">
                <value/>
            </setting>
        </FTPbox.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
